openapi: 3.0.1
info:
  version: 7.0.64
  title: ThousandEyes API
servers:
  - description: ThousandEyes API production URL
    url: https://api.thousandeyes.com/v7
tags:
  - name: Account Groups
    description: Account group CRUD operations
    x-displayName: Account Groups
  - name: Users
    description: User CRUD operations
    x-displayName: Users
  - name: Roles
    description: Role CRUD operations
    x-displayName: Roles
  - name: Permissions
    description: Permission GET operation
    x-displayName: Permissions
  - name: User Events
    description: User events GET operation
    x-displayName: User Events
  - name: Cloud and Enterprise Agents
    x-displayName: Cloud and Enterprise Agents
  - name: Enterprise Agent Cluster
    x-displayName: Enterprise Agent Cluster
  - name: Cloud and Enterprise Agent Notification Rules
    x-displayName: Cloud and Enterprise Agent Notification Rules
  - name: Agent Proxies
    x-displayName: Agent Proxies
  - name: Tests Assignment on Agents
    x-displayName: Tests Assignment on Agents
  - name: Alerts
    x-displayName: Alerts
  - name: Alert Rules
    x-displayName: Alert Rules
  - name: Alert Suppression Windows
    x-displayName: Alert Suppression Windows
  - name: API Token
    x-displayName: API Token
  - name: BGP monitors
    x-displayName: BGP monitors
  - name: Credentials
    x-displayName: Credentials
  - name: Dashboards
    description: Dashboards and Widgets operations
    x-displayName: Dashboards
  - name: Dashboard Snapshots
    description: Dashboard Snapshots CRUD operations
    x-displayName: Dashboard Snapshots
  - name: Dashboards Filters
    x-displayName: Dashboards Filters
  - name: Emulation
    x-displayName: Emulation
  - name: Endpoint Agents
    x-displayName: Endpoint Agents
  - name: Endpoint Agents Transfer
    x-displayName: Endpoint Agents Transfer
  - name: Agent to Server Endpoint Instant Scheduled Tests
    x-displayName: Agent to Server Endpoint Instant Scheduled Tests
  - name: HTTP Server Endpoint Instant Scheduled Tests
    x-displayName: HTTP Server Endpoint Instant Scheduled Tests
  - name: Run Endpoint Instant Scheduled Tests
    x-displayName: Run Endpoint Instant Scheduled Tests
  - name: Endpoint Agent Labels
    x-displayName: Endpoint Agent Labels
  - name: Network Endpoint Scheduled Test Results
    x-displayName: Network Endpoint Scheduled Test Results
  - name: HTTP Server Endpoint Scheduled Test Results
    x-displayName: HTTP Server Endpoint Scheduled Test Results
  - name: Network Dynamic Endpoint Test Results
    x-displayName: Network Dynamic Endpoint Test Results
  - name: Real User Endpoint Test Results
    x-displayName: Real User Endpoint Test Results
  - name: Local Network Endpoint Test Results
    x-displayName: Local Network Endpoint Test Results
  - name: Endpoint Scheduled Tests
    x-displayName: Endpoint Scheduled Tests
  - name: Agent to Server Endpoint Scheduled Tests
    x-displayName: Agent to Server Endpoint Scheduled Tests
  - name: HTTP Server Endpoint Scheduled Tests
    x-displayName: HTTP Server Endpoint Scheduled Tests
  - name: Agent To Server Endpoint Dynamic Tests
    x-displayName: Agent To Server Endpoint Dynamic Tests
  - name: Events
    x-displayName: Events
  - name: Operation Connectors
    description: Manage the connectors assigned to an operation.
    x-displayName: Operation Connectors
  - name: Webhook Operations
    description: >-
      Webhook operations allow you to customize the payload of generic
      connectors.
    x-displayName: Webhook Operations
  - name: Generic Connectors
    description: >-
      A generic connector represents an instance of a third-party service that
      you can integrate with the ThousandEyes platform.
    x-displayName: Generic Connectors
  - name: Tags
    description: Tag CRUD Operations
    x-displayName: Tags
  - name: Tag Assignment
    description: Assign tags to other objects
    x-displayName: Tag Assignment
  - name: Internet Insights Catalog Providers
    x-displayName: Internet Insights Catalog Providers
  - name: Internet Insights Outages
    x-displayName: Internet Insights Outages
  - name: Templates
    x-displayName: Templates
  - name: Usage
    description: Usage GET Operation
    x-displayName: Usage
  - name: Quotas
    description: Quota CRUD Operation
    x-displayName: Quotas
  - name: Test Snapshots
    x-displayName: Test Snapshots
  - name: Streaming
    description: Configure data streaming
    x-displayName: Streaming
  - name: Instant Tests
    x-displayName: Instant Tests
  - name: Agent to Agent Instant Tests
    x-displayName: Agent to Agent Instant Tests
  - name: Agent to Server Instant Tests
    x-displayName: Agent to Server Instant Tests
  - name: DNS Server Instant Tests
    x-displayName: DNS Server Instant Tests
  - name: DNS Trace Instant Tests
    x-displayName: DNS Trace Instant Tests
  - name: DNSSEC Instant Tests
    x-displayName: DNSSEC Instant Tests
  - name: HTTP Server Instant Tests
    x-displayName: HTTP Server Instant Tests
  - name: HTTP Page Load Instant Tests
    x-displayName: HTTP Page Load Instant Tests
  - name: Web Transaction Instant Tests
    x-displayName: Web Transaction Instant Tests
  - name: API Instant Tests
    x-displayName: API Instant Tests
  - name: FTP Server Instant Tests
    x-displayName: FTP Server Instant Tests
  - name: SIP Server Instant Tests
    x-displayName: SIP Server Instant Tests
  - name: Voice Instant Tests
    x-displayName: Voice Instant Tests
  - name: Network Test Results
    x-displayName: Network Test Results
  - name: Web HTTP Server Test Results
    x-displayName: Web HTTP Server Test Results
  - name: Web Page Load Test Results
    x-displayName: Web Page Load Test Results
  - name: Web Transactions Test Results
    x-displayName: Web Transactions Test Results
  - name: API Test Results
    x-displayName: API Test Results
  - name: Web FTP Server Test Results
    x-displayName: Web FTP Server Test Results
  - name: DNS Trace Test Results
    x-displayName: DNS Trace Test Results
  - name: DNS Server Test Results
    x-displayName: DNS Server Test Results
  - name: DNSSEC Test Results
    x-displayName: DNSSEC Test Results
  - name: Voice SIP Server Test Results
    x-displayName: Voice SIP Server Test Results
  - name: Voice RTP Server Test Results
    x-displayName: Voice RTP Server Test Results
  - name: Network BGP Test Results
    x-displayName: Network BGP Test Results
  - name: Tests
    description: Get all tests
    x-displayName: Tests
  - name: Agent to Server Tests
    description: Agent to Server test management operations
    x-displayName: Agent to Server Tests
  - name: Agent to Agent Tests
    description: Agent to Agent test management operations
    x-displayName: Agent to Agent Tests
  - name: BGP Tests
    description: BGP test management operations
    x-displayName: BGP Tests
  - name: DNS Server Tests
    description: DNS Server test management operations
    x-displayName: DNS Server Tests
  - name: DNS Trace Tests
    description: DNS Trace test management operations
    x-displayName: DNS Trace Tests
  - name: DNSSEC Tests
    description: DNSSEC test management operations
    x-displayName: DNSSEC Tests
  - name: HTTP Server Tests
    description: HTTP Server test management operations
    x-displayName: HTTP Server Tests
  - name: Page Load Tests
    description: Page Load test management operations
    x-displayName: Page Load Tests
  - name: Web Transaction Tests
    description: Web Transactions test management operations
    x-displayName: Web Transaction Tests
  - name: API Tests
    description: API test management operations
    x-displayName: API Tests
  - name: FTP Server Tests
    description: FTP Server test management operations
    x-displayName: FTP Server Tests
  - name: SIP Server Tests
    description: SIP Server test management operations
    x-displayName: SIP Server Tests
  - name: Voice Tests
    description: Voice test management operations
    x-displayName: Voice Tests
  - name: Path Visualization Interface Groups
    x-displayName: Path Visualization Interface Groups
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
paths:
  /account-groups:
    get:
      tags:
        - Account Groups
      summary: List account groups
      operationId: getAccountGroups
      description: Retrieves a list of account groups available to the current user.
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AccountGroups'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Account Groups
      summary: Create account group
      operationId: createAccountGroup
      description: >-
        Creates a new account group. This operation requires the `Edit all
        account groups` permission.


        **Note:** Any user assigned to `All Account Groups` is automatically
        assigned to the new account group.
      parameters:
        - $ref: '#/components/parameters/ExpandAccountGroup'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountGroupRequest'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CreatedAccountGroup'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /account-groups/{id}:
    get:
      tags:
        - Account Groups
      summary: Retrieve account group
      operationId: getAccountGroup
      description: >-
        Retrieves detailed information about an account group using its ID. 
        This operation requires the `View all account groups settings`
        permission.
      parameters:
        - $ref: '#/components/parameters/AccountGroupIdPath'
        - $ref: '#/components/parameters/ExpandAccountGroup'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AccountGroupDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    put:
      tags:
        - Account Groups
      summary: Update account group
      operationId: updateAccountGroup
      description: >-
        Updates an account group using its ID. You can modify the account
        group’s name or the list of agents assigned to the account group.
      parameters:
        - $ref: '#/components/parameters/AccountGroupIdPath'
        - $ref: '#/components/parameters/ExpandAccountGroup'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountGroupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AccountGroupDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Account Groups
      summary: Delete account group
      operationId: deleteAccountGroup
      description: >-
        Deletes an account group using its ID. This operation requires the
        following permissions:

          * Assign management permissions
          * Delete account
          * Edit all account groups
      parameters:
        - $ref: '#/components/parameters/AccountGroupIdPath'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /users:
    get:
      tags:
        - Users
      summary: List users
      operationId: getUsers
      description: >-
        Retrieves a list of users in the organization the account group ID
        belongs to. This operation requires the `API Access` and `View all
        users` permissions. See [Account
        Context](https://developer.thousandeyes.com/v7/#/accountcontext) for
        more information on changing the account group context.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Users'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Users
      summary: Create user
      operationId: createUser
      description: >-
        Creates a new user.


        The following applies when creating a user: 

        * If the user is already a member of another ThousandEyes customer
        organization, the user must set their own login account group. 

        * Any update that includes `accountGroupRoles` is a replace-based update
        and not a delta-based update.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CreatedUser'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /users/{id}:
    get:
      tags:
        - Users
      summary: Retrieve user
      operationId: getUser
      description: >-
        Retrieves detailed information about a user. This operation requires the
        `API Access` and `View All Users` permissions.
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/UserDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    put:
      tags:
        - Users
      summary: Update user
      operationId: updateUser
      description: >-
        Updates a user using the user ID. You can update the user name, email
        address, account group assignments, or roles. This operation requires
        the `Edit users in all account groups` or `Edit users` permission. 


        When updating a user, the following applies:

        * When updating a user's email address, the user must confirm the
        username change before they can subsequently log in or perform API
        operations.

        * Any update that includes `accountGroupRoles` is a replace-based update
        and not a delta-based update.
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/UserDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Users
      summary: Delete user
      operationId: deleteUser
      description: >-
        Deletes a user using the user ID. This operation requires the `Edit
        users in all account groups` or `Edit users` permission.
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /users/current:
    get:
      tags:
        - Users
      summary: Retrieve current user
      operationId: getCurrentUser
      description: Retrieves detailed information about the current user.
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/UserDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /roles:
    get:
      tags:
        - Roles
      summary: List roles
      operationId: getRoles
      description: Retrieves a list of defined roles visible to the current user.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Roles'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Roles
      summary: Create role
      operationId: createRole
      description: Creates a new role.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleRequestBody'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/RoleDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /roles/{id}:
    get:
      tags:
        - Roles
      summary: Retrieve role
      operationId: getRole
      description: Returns detailed information about a role using its ID.
      parameters:
        - $ref: '#/components/parameters/RoleId'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/RoleDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    put:
      tags:
        - Roles
      summary: Update role
      operationId: updateRole
      description: >-
        Updates a user-defined role using its ID.


        When updating a role, the following applies: 

        * The full list of permissions must be sent, This operation does not
        support delta-based grant or revoking of permissions. 

        * Permission definitions and details can be obtained from the
        Permissions operation.
      parameters:
        - $ref: '#/components/parameters/RoleId'
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/RoleDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Roles
      summary: Delete role
      operationId: deleteRole
      description: >-
        Deletes a role using its ID. The user needs appropriate permissions to
        successfully call this operation.
      parameters:
        - $ref: '#/components/parameters/RoleId'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /audit-user-events:
    get:
      tags:
        - User Events
      summary: List activity log events
      operationId: getUserEvents
      description: >-
        Returns a list of activity log events in the current account group. 


        If `useAllPermittedAids=true` query parameter is passed and the user has
        permission `View activity log for all users in account group` the logs
        returned include events across all the account groups they belong to.


        For more information about changing the account group context, see
        [Account
        Context](https://developer.thousandeyes.com/v7/#/accountcontext).
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/UseAllPermittedAids'
        - $ref: '#/components/parameters/Window'
        - $ref: '#/components/parameters/StartDateParameter'
        - $ref: '#/components/parameters/EndDateParameter'
        - $ref: '#/components/parameters/PaginationCursor'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AuditUserEvents'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /permissions:
    get:
      tags:
        - Permissions
      summary: List assignable permissions
      operationId: getPermissions
      description: >-
        Users must be in a role assigned management permissions to access this
        operation. Users without management permissions who attempt to access
        this operation receive an HTTP/403 response code.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Permissions'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /agents:
    get:
      tags:
        - Cloud and Enterprise Agents
      summary: List Cloud and Enterprise Agents
      operationId: getAgents
      description: >
        List the Cloud and Enterprise Agents available to your account in
        ThousandEyes.


        If an agent is an Enterprise Agent, this operation returns the agent’s
        public and private IP addresses, as well as the public network where the
        agent is located.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/ExpandAgent'
        - $ref: '#/components/parameters/AgentTypes'
        - $ref: '#/components/parameters/Labels'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CloudEnterpriseAgents'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /agents/{agentId}:
    get:
      tags:
        - Cloud and Enterprise Agents
      summary: Retrieve Cloud and Enterprise Agent
      operationId: getAgent
      description: >
        Returns details for an agent, including assigned tests.


        For Enterprise Agents, this operation returns additional details,
        including utilization data, assigned accounts, a list of account groups
        the agent is assigned to, and utilization details.
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/ExpandAgentDetails'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgentDetails'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
    put:
      tags:
        - Cloud and Enterprise Agents
      summary: Update Enterprise Agent
      operationId: updateAgent
      description: >-
        Updates details for an Enterprise Agent. This operation can only be used
        for Enterprise Agents, and only for users in a role that permits
        modification of Enterprise Agents.


        Important notes related to agent modification on tests:

        * if an agent is removed from a test, the modification date for tests
        using that agent at the time it was removed will be changed.

        * If an agent is removed from an entire account group, then all tests
        using this agent in the removed account group will be updated to reflect
        the removed agent.

        * If a removed agent is the final remaining agent on a test, then the
        test will be disabled when the agent is removed.


        Users can update the following fields:

        * `agentName`: String representation of an agent. No two agents can have
        the same display name.

        * `enabled`: Boolean representation of agent state.

        * `accountGroups`: An array of account group ids. See
        `v7/account-groups` to pull a list of account IDs.

        * `tests`: An array of test Is. See `v7/tests` to retrieve a list tests
        available in the current account context.

        * `ipv6Policy`: Enum representation of the IP version policy.

        * `keepBrowserCache`: Boolean representation of the Keep browser cache
        state.

        * `targetForTests`: String representation of the target IP address or
        domain name. This represents the test destination when agent is acting
        as a test target in an agent-to-agent test.

        * `localResolutionPrefixes`: This array of strings represents the public
        IP ranges where the Enterprise Agent performs rDNS (Reverse DNS)
        lookups. The range should be in CIDR notation, such as `10.1.1.0/24`.
        Please note that a maximum of 5 prefixes is allowed. This only applies
        to Enterprise Agents and Enterprise Agent clusters.
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/ExpandAgentDetails'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgentDetails'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Cloud and Enterprise Agents
      summary: Delete Enterprise Agent
      operationId: deleteAgent
      description: >-
        Deletes an Enterprise Agent.


        Important notes related to agent removal:

        * If an agent is deleted, the modification date for tests using that
        agent at the time it was deleted will be changed.

        * If a deleted agent is the final remaining agent on a test, then the
        test will be disabled when the agent is removed.

        * If an agent is removed, it must be re-initialized to use the same
        machine again in different context. Virtual Appliances can be updated
        using the Reset State button in the Advanced tab of the agent management
        interface. Users running packaged versions of Linux will need to remove
        /var/lib/te-agent/\*.sqlite in order to reinitialize an agent.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/AgentId'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /agents/{agentId}/cluster/assign:
    post:
      tags:
        - Enterprise Agent Cluster
      summary: Add member to Enterprise Agent cluster
      operationId: assignAgentToCluster
      description: >-
        Assigns agents to an Enterprise Agent cluster. If the agent specified by
        `agentId` in the URL path is not already part of a cluster, this
        operation creates a new cluster with that agent as the base member.


        This operation requires the `Edit agents in account group` permission.


        A JSON request body is required for this operation, even when creating a
        cluster with a single agent. To create a cluster from a single
        standalone agent, pass an empty `agents` array in the request body:


        ```

        { "agents": [] }

        ```


        If no body is provided, the server returns a 400 Bad Request error.


        The response is a single Enterprise Agent Cluster. The assigned agents
        become cluster members and can be returned using the
        `?expand=cluster-member` parameter.


        Upon successful cluster creation, the response includes:


        * Information about the new or updated cluster.


        * Each cluster member receives a unique `memberId` within the cluster.


        * The `memberId` is not linked to the original `agentId` used in the
        request URL or POST body.


        * The cluster name is based on the agent whose `agentId` is specified in
        the request URL.


        **Example: Creating a cluster from a single agent**


        ```

        curl -X POST https://api.thousandeyes.com/v7/agents/64965/cluster/assign
        \

        '{"agents":[]}' \

        -H "content-type:application/json" \

        -H "Authorization: Bearer $Bearer_token" 

        ````


        **Example: Adding multiple agents to a cluster**


        When adding multiple agents, the `{agentId}` specified in the URL path
        must not be included in the `agents` array. Only include additional
        agent IDs in the array.


        ```

        curl https://api.thousandeyes.com/v7/agents/64965/cluster/assign \

        '{"agents":[
          "2277",
          "1234"
        ]}' \

        -H "content-type:application/json" \

        -H "Authorization: Bearer $Bearer_token" 

        ````
      parameters:
        - $ref: '#/components/parameters/AssignAgentId'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/ExpandAgentDetails'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentClusterAssignRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgentDetails'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /agents/{agentId}/cluster/unassign:
    post:
      tags:
        - Enterprise Agent Cluster
      summary: Remove member from Enterprise Agent cluster
      operationId: unassignAgentFromCluster
      description: >-
        Converts a cluster with a single or multiple Enterprise Agent members
        back to a standalone Enterprise Agent(s). This operation can also be
        used to remove one or more members from an Enterprise Agent cluster.
        Removed members revert to being standalone Enterprise Agents. If all
        members are removed from the cluster, the Enterprise Agent Cluster is
        deleted.


        The response is an list of agents, containing both the Enterprise Agent
        Cluster (if it still exists), and the removed members, now as standalone
        Enterprise Agents. This operation is exclusive to Enterprise Agent
        clusters and can be accessed only by users with the `Edit agents in
        account group` permission.


        On successful completion, the response contains the following
        information:


        * The updated cluster information is provided in the response body,
        unless all members are removed from the cluster.


        * Information about each removed member, now a standalone agent.


        * When a non-last member is removed from the cluster, it receives a new
        `agentId` value. This new `agentId` is different from the `agentId` the
        agent had before joining the cluster, and it is also unrelated to the
        `memberId` value the agent had while being a part of the cluster.


        * If all members are removed from the cluster, the cluster itself is
        converted back to a standalone Enterprise Agent too. Such standalone
        agent inherits the old cluster’s `agentId` value. The last `memberId`
        listed in the POST body inherits the cluster’s `agentId` value.


        **Example - removing a single member**

        ```

        curl -X POST
        https://api.thousandeyes.com/v7/agents/64965/cluster/unassign   \

        '{"members":["55974"]}' \

        -H "content-type:application/json" \

        -H "Authorization: Bearer $Bearer_token" 

        ```


        **Example - removing multiple members**

        ```

        curl https://api.thousandeyes.com/v7/agents/64965/cluster/unassign \

        '{"members":[
            "55974",
            "12313"]
         }' \
        -H "content-type:application/json" \

        -H "Authorization: Bearer $Bearer_token" 

        ```
      parameters:
        - $ref: '#/components/parameters/UnassignAgentId'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/ExpandAgentDetails'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentClusterUnassignRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CloudEnterpriseAgents'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /agents/notification-rules:
    get:
      tags:
        - Cloud and Enterprise Agent Notification Rules
      summary: List agent notification rules
      operationId: getAgentsNotificationRules
      description: >-
        Returns a list of all agent notification rules configured under the
        account.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ListNotificationRulesResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /agents/notification-rules/{notificationRuleId}:
    get:
      tags:
        - Cloud and Enterprise Agent Notification Rules
      summary: Retrieve agent notification rule
      operationId: getAgentsNotificationRule
      description: >
        Returns details of an agent notification rule, including agents it is
        assigned to.
      parameters:
        - $ref: '#/components/parameters/NotificationRuleId'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotificationRuleDetail'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /agents/proxies:
    get:
      tags:
        - Agent Proxies
      summary: List Enterprise Agent Proxies
      operationId: getAgentsProxies
      description: |
        List all enterprise agent proxies available under the account group.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgentProxies'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /agents/{agentId}/tests/assign:
    post:
      tags:
        - Tests Assignment on Agents
      summary: Assign tests to an agent
      operationId: assignTests
      description: >-
        Assign tests to a specific Agent. Existing assigned tests are not
        removed.


        **Important notes:**

          * The operation fails if the specified agent does not exist.

          * If any provided test ID is invalid, the entire operation is canceled.

          * Already assigned tests are ignored; other valid tests will be assigned.

          * This operation does not overwrite existing assignments.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/AssignAgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTestsAssignRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgentDetails'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /agents/{agentId}/tests/override:
    post:
      tags:
        - Tests Assignment on Agents
      summary: Overwrite tests assigned to an agent
      operationId: overwriteTests
      description: >-
        Replaces all tests assigned to a specific agent with the new set of test
        IDs provided.


        **Important notes:**

          * The operation fails if the specified agent does not exist.

          * If any test ID is invalid, the operation is canceled and no changes are made.

          * Already assigned tests that are also in the request are ignored.

          * Previously assigned tests not included in the request will be removed.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/AssignAgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTestsAssignRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgentDetails'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /agents/{agentId}/tests/unassign:
    post:
      tags:
        - Tests Assignment on Agents
      summary: Unassign tests from an agent
      operationId: unassignTests
      description: |-
        Unassigns the specified tests from a specific agent.

        **Important notes:**

          * The operation fails if the specified agent does not exist.

          * If any test ID is invalid, the operation is canceled and no changes are made.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/AssignAgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTestsAssignRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgentDetails'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
      security:
        - BearerAuth: []
  /alerts:
    get:
      tags:
        - Alerts
      summary: List active alerts
      operationId: getAlerts
      description: >-
        Returns a list of active alerts. If no alerts are active within the 
        specified time range, an empty response is returned.  Note that time
        filters (`window`, `startDate`, or `endDate`) are only applied to
        cleared alerts.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/Window'
        - $ref: '#/components/parameters/StartDateParameter'
        - $ref: '#/components/parameters/EndDateParameter'
        - $ref: '#/components/parameters/PaginationMax'
        - $ref: '#/components/parameters/PaginationCursor'
        - $ref: '#/components/parameters/State'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Alerts'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /alerts/{alertId}:
    get:
      tags:
        - Alerts
      summary: Retrieve alert details
      operationId: getAlert
      description: Returns detailed information about an alert using its ID.
      parameters:
        - $ref: '#/components/parameters/AlertId'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AlertDetail'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /alerts/rules:
    get:
      tags:
        - Alert Rules
      summary: List alert rules
      operationId: getAlertsRules
      description: >-
        Returns a list of alert rules. Default rules for each test type are
        indicated with a boolean response (true or false); these default alert
        rules automatically apply to their respective test types.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Rules'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Alert Rules
      summary: Create alert rule
      operationId: createAlertRule
      description: >-
        Creates a new alert rule in your account, using the provided POST data.
        The `Edit alert rules` permission is required to create an alert rule.

        Note: Assigning an alert rule to a test during creation requires the
        `Edit tests` permission.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleDetailUpdate'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Rule'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /alerts/rules/{ruleId}:
    get:
      tags:
        - Alert Rules
      summary: Retrieve alert rule
      operationId: getAlertRule
      description: >-
        Returns detailed information about an alert rule using the `ruleId`. If
        the `ruleId` doesn’t exist or is inaccessible by your account, an empty
        response is returned.
      parameters:
        - $ref: '#/components/parameters/RuleId'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/RuleDetail'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    put:
      tags:
        - Alert Rules
      summary: Update alert rule
      operationId: updateAlertRule
      description: >-
        Modifies an existing alert rule in your account, using the provided POST
        data. The `Edit alert rules` permission is required to modify an alert
        rule.


        Note: Assigning an alert rule to a test during creation requires the
        `Edit tests` permission.
      parameters:
        - $ref: '#/components/parameters/RuleId'
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleDetailUpdate'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Rule'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Alert Rules
      summary: Delete alert rule
      operationId: deleteAlertRule
      description: >-
        Deletes an alert rule from your account. Users must have both `Edit
        alert rules` and `Edit tests` permissions,  especially if the rule is
        linked to any tests. Without these permissions, an error occurs.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/RuleId'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /alert-suppression-windows:
    get:
      tags:
        - Alert Suppression Windows
      summary: List alert suppression windows
      operationId: getAlertSuppressionWindows
      description: >-
        Returns a list of all alert suppression windows configured in your
        account group.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AlertSuppressionWindows'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Alert Suppression Windows
      summary: Create alert suppression window
      operationId: createAlertSuppressionWindow
      description: >-
        Creates a new alert suppression window in ThousandEyes, using the 
        provided POST data. Only Account Admins can create alert suppression
        windows.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/ExpandAlert'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertSuppressionWindowRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AlertSuppressionWindowDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /alert-suppression-windows/{windowId}:
    get:
      tags:
        - Alert Suppression Windows
      summary: Retrieve alert suppression window
      operationId: getAlertSuppressionWindow
      description: >-
        Returns detailed information about an alert suppression window
        configured in your account group.
      parameters:
        - $ref: '#/components/parameters/WindowId'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/ExpandAlert'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AlertSuppressionWindowDetail'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    put:
      tags:
        - Alert Suppression Windows
      summary: Update alert suppression window
      operationId: updateAlertSuppressionWindow
      description: >-
        Updates an alert suppression window in ThousandEyes, using the  provided
        POST data. Only Account Admins can update alert suppression windows.
      parameters:
        - $ref: '#/components/parameters/WindowId'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/ExpandAlert'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertSuppressionWindowRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AlertSuppressionWindowDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Alert Suppression Windows
      summary: Delete alert suppression window
      operationId: deleteAlertSuppressionWindow
      description: Deletes an alert suppression window.
      parameters:
        - $ref: '#/components/parameters/WindowId'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /api-tokens:
    post:
      tags:
        - API Token
      summary: Regenerate API token
      operationId: regenerateApiToken
      description: >
        Regenerates the bearer token for your account.


        - Requires a valid, non-expired bearer token.

        - The new token is valid for 2 years.

        - After regeneration, the previous token remains valid for 14 days, or
        until its scheduled expiration date, whichever comes first.

        - You can regenerate a new token only if your account has a single
        active token. Attempts to regenerate more than one new token within the
        14-day overlap period returns a 409 error.


        Update your applications to use the new token immediately.
      responses:
        '201':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiToken'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          description: The user has reached the maximum number of allowed tokens.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /monitors:
    get:
      tags:
        - BGP monitors
      summary: List BGP monitors
      operationId: getBgpMonitors
      description: >-
        Retrieves a list of BGP monitors available to your account in
        ThousandEyes, including public and private feeds.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Monitors'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /credentials:
    get:
      tags:
        - Credentials
      summary: List credentials
      operationId: getCredentials
      description: >-
        Retrieves a list of credentials configured in ThousandEyes. Users have
        access to the list of credentials based on the default settings or the
        specified account ID.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Credentials'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Credentials
      summary: Create credential
      operationId: createCredential
      description: >-
        Creates a new credential for ThousandEyes transaction tests, based on
        properties provided in the request data. To create a new credential, you
        must have permission to update tests.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CredentialWithoutValue'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /credentials/{id}:
    get:
      tags:
        - Credentials
      summary: Retrieve credential
      operationId: getCredential
      description: >-
        Retrieves detailed information about a ThousandEyes transaction test
        credential. To access this information, you must have access to the
        credential based on its default or provided account ID.
      parameters:
        - $ref: '#/components/parameters/CredentialId'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Credential'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    put:
      tags:
        - Credentials
      summary: Update credential
      operationId: updateCredential
      description: >-
        Updates the credential for ThousandEyes transaction tests, based on
        properties provided in the request data. To update a credential, you
        must have permission to update tests and access to the credential based
        on its default or provided account ID.
      parameters:
        - $ref: '#/components/parameters/CredentialId'
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CredentialWithoutValue'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Credentials
      summary: Delete credential
      operationId: deleteCredential
      description: >-
        Deletes a ThousandEyes transaction test credential, using the request
        parameters. To delete a credential, you must have permission to update
        tests and access to the credential based on its default or provided
        account ID.
      parameters:
        - $ref: '#/components/parameters/CredentialId'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboards:
    get:
      tags:
        - Dashboards
      operationId: getDashboards
      summary: List dashboards
      description: >
        Returns a list of dashboards and their settings within your account
        group.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiDashboards'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Dashboards
      operationId: createDashboard
      summary: Create dashboard
      description: >
        Creates a new dashboard in your account group. To create a dashboard, 
        you must have one of the following permissions:

        * `Edit dashboard templates for all users in account group` permission
        (Account Admin).


        * `Edit own dashboard templates` permission (Regular User).
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        description: Request body schema to create a dashboard.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboards/{dashboardId}:
    get:
      tags:
        - Dashboards
      operationId: getDashboard
      summary: Retrieve dashboard
      description: >
        Returns a list of widgets within a dashboard, along with the dashboard's
        metadata.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiDashboard'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    put:
      tags:
        - Dashboards
      summary: Update dashboard
      operationId: updateDashboard
      description: >
        Updates an existing dashboard in your account group. 


        **Note**: 

        * Users with the `Edit dashboard templates for all users in account
        group` permission (Account Admin) can update any dashboard.

        * Users with the `Edit own dashboard templates` permission (Regular
        User) can only update the dashboards they have created themselves.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        description: Request body schema to update a dashboard.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Dashboards
      operationId: deleteDashboard
      summary: Delete dashboard
      description: >
        Deletes a dashboard using the `dashboardId` provided in the request.


        **Note**:

        * Users with the `Edit dashboard templates for all users in account
        group` permission (Account Admin) can delete any dashboard.

        * Users with the `Edit own dashboard templates` permission (Regular
        User) can only delete the dashboards they have created themselves.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboards/{dashboardId}/widgets/{widgetId}:
    get:
      tags:
        - Dashboards
      operationId: getDashboardWidgetData
      summary: Retrieve dashboard widget data
      description: |
        Returns the raw data displayed within a widget in the dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/WidgetId'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/Window'
        - $ref: '#/components/parameters/StartDateParameter'
        - $ref: '#/components/parameters/EndDateParameter'
        - $ref: '#/components/parameters/DashboardMax'
        - $ref: '#/components/parameters/DashboardCursor'
        - $ref: '#/components/parameters/DashboardSort'
        - $ref: '#/components/parameters/DashboardOrder'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiWidgetDataResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboards/{dashboardId}/widgets/{widgetId}/cards/{cardId}:
    get:
      tags:
        - Dashboards
      operationId: getIndividualCardData
      summary: Retrieve individual card data from numbers widget
      description: >
        Returns the raw data for an individual card within a numbers widget in
        the dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/WidgetId'
        - $ref: '#/components/parameters/CardId'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/Window'
        - $ref: '#/components/parameters/StartDateParameter'
        - $ref: '#/components/parameters/EndDateParameter'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiNumbersCardData'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboards/{dashboardId}/widgets/{widgetId}/columns/{columnId}:
    get:
      tags:
        - Dashboards
      operationId: getIndividualColumnData
      summary: Retrieve individual column data from multi-metric table widget
      description: >
        Returns the raw data for an individual column within a multi-metric
        table widget in the dashboard.
      parameters:
        - $ref: '#/components/parameters/DashboardIdPath'
        - $ref: '#/components/parameters/WidgetId'
        - $ref: '#/components/parameters/ColumnId'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/Window'
        - $ref: '#/components/parameters/StartDateParameter'
        - $ref: '#/components/parameters/EndDateParameter'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiMultiMetricColumnData'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboard-snapshots:
    get:
      tags:
        - Dashboard Snapshots
      operationId: getDashboardSnapshots
      summary: List dashboard snapshots
      description: >
        Returns a list of dashboard snapshots within your account group. Use
        this data to identify a specific dashboard snapshot, which can be used
        in other endpoints to access aggregated data. The `View Snapshots`
        permission is required to use this endpoint."
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - name: dashboardId
          in: query
          required: false
          schema:
            type: string
          example: 646f4d2ce3c99b0536c3821e
        - $ref: '#/components/parameters/PaginationCursor'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DashboardSnapshotsPage'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Dashboard Snapshots
      operationId: createDashboardSnapshot
      summary: Create dashboard snapshot
      description: >
        Creates a new dashboard snapshot within your account group. The `Edit
        Snapshots` permission is required to use this endpoint.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        description: Request body schema to create a dashboard snapshot.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDashboardSnapshotRequest'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
            X-Dashboard-Snapshot-Rate-Limit-Limit:
              $ref: '#/components/headers/DashboardSnapshotRateLimit'
            X-Dashboard-Snapshot-Rate-Limit-Remaining:
              $ref: '#/components/headers/DashboardSnapshotRateLimitRemaining'
            X-Dashboard-Snapshot-Rate-Limit-Reset:
              $ref: '#/components/headers/DashboardSnapshotRateLimitReset'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DashboardSnapshotResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          description: Exhausted rate limit for snapshot creation
          headers:
            X-Dashboard-Snapshot-Rate-Limit-Limit:
              $ref: '#/components/headers/DashboardSnapshotRateLimit'
            X-Dashboard-Snapshot-Rate-Limit-Remaining:
              $ref: '#/components/headers/DashboardSnapshotRateLimitRemaining'
            X-Dashboard-Snapshot-Rate-Limit-Reset:
              $ref: '#/components/headers/DashboardSnapshotRateLimitReset'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboard-snapshots/{snapshotId}:
    get:
      tags:
        - Dashboard Snapshots
      operationId: getDashboardSnapshot
      summary: Retrieve dashboard snapshot
      description: >-
        This operation returns a list of widgets configured in dashboard
        snapshot configured in ThousandEyes. Seed this endpoint with a
        snapshotId found from the /dashboard-snapshots endpoint. This endpoint
        requires the `View Snapshots` permission be assigned to the role of the
        user accessing this endpoint. Returns a list of widgets configured
        within a dashboard snapshot. Use the `snapshotId` obtained from the
        `/dashboard-snapshots` endpoint. The `View Snapshots` permission is
        required to use this endpoint."
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/SnapshotIdPath'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiDashboardSnapshot'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    patch:
      tags:
        - Dashboard Snapshots
      operationId: updateDashboardSnapshotExpirationDate
      summary: Update snapshot expiration
      description: >
        Updates the expiration date of a dashboard snapshot. The `Edit
        snapshots` permission is required to access this endpoint.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/SnapshotIdPath'
      requestBody:
        description: Request body schema to update a snapshot expiration.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSnapshotExpirationDateApiRequest'
        required: true
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Dashboard Snapshots
      operationId: deleteDashboardSnapshot
      summary: Delete dashboard snapshot
      description: >
        Deletes a dashboard snapshot using the `snapshotId` provided in the
        request. Users with the `Edit reports for all users in account group`
        permission (Account Admin) can delete any dashboard snapshot.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/SnapshotIdPath'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboard-snapshots/{snapshotId}/widgets/{widgetId}:
    get:
      tags:
        - Dashboard Snapshots
      operationId: getDashboardSnapshotWidgetData
      summary: Retrieve dashboard snapshot data
      description: |
        Returns actual metrics used in the generation of a dashboard snapshot.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/SnapshotIdPath'
        - $ref: '#/components/parameters/WidgetId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiWidgetDataSnapshotResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboards/filters:
    get:
      tags:
        - Dashboards Filters
      summary: List dashboard filters
      operationId: getDashboardsFilters
      description: >
        Returns a list of dashboard filters and its context within your account
        group.
      parameters:
        - $ref: '#/components/parameters/DashboardFilterSearchPattern'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiContextFiltersResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Dashboards Filters
      summary: Create dashboard filter
      operationId: createDashboardFilter
      description: >
        Creates a new dashboard filter in your account group. To create a
        filter,  you must have one of the following permissions:

        * `Edit dashboard templates for all users in account group` permission
        (Account Admin). * `Edit own dashboard templates` permission (Regular
        User).
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        description: Dashboard filter object to be created and saved
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContextFilterRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiContextFilterResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /dashboards/filters/{id}:
    get:
      tags:
        - Dashboards Filters
      summary: Get dashboard filter
      operationId: getDashboardFilter
      description: >
        Returns a list of data source filters and their metadata within the
        dashboard filter.
      parameters:
        - $ref: '#/components/parameters/DashboardFilterIdPath'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiContextFilterResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    put:
      tags:
        - Dashboards Filters
      summary: Update dashboard filter
      operationId: updateDashboardFilter
      description: |
        Updates an existing dashboard filter in your account group.
                             
         **Note**:
         
         * Users with the `Edit dashboard templates for all users in account group` permission (Account Admin) can update any dashboard filter.
         
         * Users with the `Edit own dashboard templates` permission (Regular User) can only update the dashboard filters they have created themselves.
      parameters:
        - $ref: '#/components/parameters/DashboardFilterIdPath'
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        description: Updated dashboard filter context object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContextFilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiContextFilterResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Dashboards Filters
      summary: Delete dashboard filter
      operationId: deleteDashboardFilter
      description: |
        Deletes a dashboard filter using the `filterId` provided in the request.


         **Note**:

         * Users with the `Edit dashboard templates for all users in account group` permission (Account Admin) can delete any dashboard filter.

         * Users with the `Edit own dashboard templates` permission (Regular User) can only delete the dashboard filters they have created themselves.
      parameters:
        - $ref: '#/components/parameters/DashboardFilterIdPath'
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /user-agents:
    get:
      tags:
        - Emulation
      summary: List user-agents
      operationId: getUserAgents
      description: Retrieves a list of user-agent strings.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/UserAgents'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /emulated-devices:
    get:
      tags:
        - Emulation
      summary: List emulated devices
      operationId: getEmulatedDevices
      description: Retrieves a list of emulated devices available for browser tests.
      parameters:
        - $ref: '#/components/parameters/ExpandEmulatedDevice'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EmulatedDeviceResponses'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
    post:
      tags:
        - Emulation
      summary: Create emulated device
      operationId: createEmulatedDevice
      description: Creates a new device for emulation.
      parameters:
        - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmulatedDevice'
      responses:
        '201':
          description: Created
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EmulatedDeviceResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - BearerAuth: []
  /endpoint/agents:
    get:
      summary: List endpoint agents
      tags:
        - Endpoint Agents
      description: >
        Retrieves a list of endpoint agents in a given account group.


        If there are no agents in the specified account group, it returns an
        empty array.
      operationId: getEndpointAgents
      parameters:
        - $ref: '#/components/parameters/PaginationMax'
        - $ref: '#/components/parameters/PaginationCursor'
        - $ref: '#/components/parameters/AccountGroupId'
        - $ref: '#/components/parameters/ExpandEndpointAgent'
        - $ref: '#/components/parameters/IncludeDeleted'
        - $ref: '#/components/parameters/UseAllPermittedAids'
        - in: query
          name: agentName
          required: false
          description: |
            Returns only agents with the specified name. 
            This is an exact match only.
          schema:
            $ref: '#/components/schemas/AgentName'
        - in: query
          name: computerName
          required: false
          description: |
            Returns only agents with the specified computer name.
            This is an exact match only.
          schema:
            $ref: '#/components/schemas/ComputerName'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
[...]
